#header img {
    width: 80px;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.block-footer {
    background-color: #1860e2;
    border-color: #080fef;
    color: white;
    margin: 15px;
    fill: 15px;
    margin-top: 5%;
    border-style: solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
}

.centr {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.btn_buscar {
    text-align: right;
}